<div id="vk-login">
    <h2>Please sign in:</h2>
    <p>
        <a class="btn-sl btn-sl-big btn-sl-vk" title="VK Login" {{action 'vkLogin'}}>
            <i class="ico-social ico-vk"></i><i class="btn-sl-separator separator-vk"></i>VK.com
        </a>
    </p>
    <div class="mT35px f12" style="width:240px; margin: 0 auto; line-height:18px;">
        Don't have VK account? - <a href="http://vk.com/" target="_blank">register</a> or check {{#link-to "index"}}demo version{{/link-to}}
    </div>
</div>